<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
  <display-name>Lab5</display-name>
<!--  <servlet>-->
<!--    <servlet-name>ProductServlet</servlet-name>-->
<!--    <servlet-class>org.example.Servlets.ProductServlet</servlet-class>-->
<!--  </servlet>-->

<!--  <servlet-mapping>-->
<!--    <servlet-name>ProductServlet</servlet-name>-->
<!--    <url-pattern>/ProductService</url-pattern>-->
<!--  </servlet-mapping>-->
</web-app>
